<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head"); %>
    <%- include("partials/ga_tracker"); %>
</head>

<body>
    <%- include("partials/navbar"); %>

    <div class="container">
        <div class="row">
            <% articles.forEach(function(article) { %>
            <div class="col-sm-4 mt-5">
                <div class="article-card">
                    <a href="<%= article.link %>">
                        <img src="<%= article.photo %>" alt="<%= article.title %>" class="img-fluid" width="600" height="400">
                        <div class="article-details">
                            <h5><%= article.title %></h5>
                            <p><%= article.description %></p>
                        </div>
                    </a>
                </div>
            </div>
            <% }); %>
        </div>
    </div>
<%- include("partials/footer"); %>
</body>
</html>
