<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head"); %>
    <%- include("partials/ga_tracker"); %>
</head>

<body class="d-flex flex-column min-vh-100">
    <%- include("partials/navbar"); %>

    <div class="container flex-grow-1"> <!-- This ensures that the container takes up available space -->
        <div class="row">
            <% projects.forEach(function(project) { %>
            <div class="col-sm-4 mt-5">
                <div class="article-card">
                    <a href="<%= project.link %>">
                        <img src="<%= project.photo %>" alt="<%= project.title %>" class="img-fluid" width="600"
                            height="400">
                        <div class="article-details">
                            <h5><%= project.title %></h5>
                            <p><%= project.description %></p>
                        </div>
                    </a>
                </div>
            </div>
            <% }); %>
        </div>
    </div>

    <%- include("partials/footer"); %>
</body>

</html>
