<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head"); %>
        <%- include("partials/ga_tracker"); %>
</head>

<body id="animatebg">
    <%- include("partials/navbar"); %>

        <div class="container">
            <div class="shadow-lg jumbotron mt-2">
                <div class="display-4">Site Map</div> 
                <hr class="my-3">
                <div class="row">
                    <div class="col-sm-3"><h3>Main</h3></div>
                    <div class="col-sm-3"><h3>Articles</h3></div>
                    <div class="col-sm-3"><h3>Projects</h3></div>
                    <div class="col-sm-3"><h3>Others</h3></div>
                </div>
            </div>
            <%- include("partials/footer"); %>
</body>


<%- include("partials/animatebg") %>

</html>